/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$breakpoint-tablet: 768px;

@import 'bootstrap';

body {
  background-color: #FAD61D;
  margin: auto;
  text-align: center;
  font-family:  "noto sans"

}

#landingpage {
  margin: 200px auto;
}

#genrepage {
  margin-top: 200px;
}

 /*
  *
  * Header Component
  *
  */

// nav bar
button.navbar-toggler {
  background: white;
}

#attention-getter {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 50px;
  letter-spacing: 1px;
}

 // nav bar
nav.bg-light {
  background: black !important;
 }
 // nav links
nav.navbar-light .navbar-nav .nav-link {
  color: white;
 }
 // nav links
nav.navbar-light .navbar-brand {
  color: white;
}

// Account button
nav.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white !important;
 }
// Account button
nav.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: white;
}

 /*
  *
  * WatchButton Component
  *
  */

div#watch-btn button {
  // background: #FAD61D;
  // color: black;
  width: 210px;
  height: 70px;
  font-size: 1.35em;
  border: 1px solid black;
  margin-top: 1rem;
  box-shadow: 2px 3px 2px 0px grey;
}

div#watch-btn button:hover {
  background: #E19720;
}

/*
 *
 * GenreButtons Component
 *
 */

.genre-btn {
  min-height: 62px;
  // background: rgba($color: #000000, $alpha: 0);
  // border-radius: 30px;
  // color: #007BFF;
}

.genre-grid {
  width: 50%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  // padding: 25px;
  // padding-top:15%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, 125px)
}

.functional-btn {
  // background: rgba($color: #000000, $alpha: 0);
  margin: 3px;

}

.functional-btn:hover {
  background: #E19720;
  border: none;
}

.btn-secondary:focus, .btn-secondary.focus {
  background-color: black;
}

div#genre-page {
  margin: 4.5rem;
}

div#genre-page .pikachu {
  width: 265px;
  animation: nudge 5s linear 1;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(-1100px, 0);
  }

  // 50% {
  //   transform: translate(1100px, 0);
  // }

  100% {
    transform: translate(0, 0);
  }
}

 /*
  *
  * HistoryIndex Component
  *
  */

 // Film title link to HistoryShow for individual view
ul.decision-box.list-group a {
  color: white;
  text-decoration: none;
}

ul.decision-box.list-group a:hover {
  color: black;
}

div.history-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.history-box .decision-box {
  min-height: 350px;
  text-align: left;
  display: block;
}

div.film-info p {
  margin: 0;
}

.film-title {
  font-size: 2rem;
  text-align: center;
}
 // Information about the film in div after the film title
.film-info {
  margin-top: 20px;
  margin-bottom: 0;
}

.history-header {
  text-align: center;
  font-size: 2.75rem;
  margin: 40px;
}

 // About page
#aboutpage {
  width: 800px;
  margin: 50px auto 70px auto;
}

div#aboutpage p {
  line-height: 2;
  letter-spacing: 1.5px;
}

#aboutimgs {
  margin-bottom: 70px;
}

img.card-img {
  height: auto;
  display: flex;
}

.linkedin-gihub-btn {
  padding: 10px;
  margin: 10px;
}


 .pikachu {
   width: 200px;
   margin: 20px;
 }

 .pikachu2 {
  width: 120px;
}
//  buttons
.editdel_btns{
margin:2px;
float:left;
}

// .se_btns{
//   margin:2px;
// }

.back_btn{
  margin:100px;
  padding:10px;
}

#addmargin {
  margin: 10px;
}


 /*
  *
  * HistoryShow Component
  *
  */

.comment {
  margin-top: 10px;
  width: 400px;
  height: 100px;
}

.decision-box {
  color: white;
  background:#C57900;
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
  display: inline-block;
  width: 500px;
}

 /*
  *
  * DecisionBox Component
  *
  */

div.jumbotron {
  margin: 2rem auto;
  border-radius: 13rem;
  width: 50%;
}

#the-decision {
  animation-name: stretch;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

 /*
  *
  * MEDIA QUERIES
  *
  */

@media (min-width: $breakpoint-tablet) {
  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }
}

@media (min-width: 576px) {
  div.jumbotron {
    padding: 3rem 6rem;
  }
}

@media (max-width: 660px) {
  body {
    background: pink
  }
}
