/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$breakpoint-tablet: 768px;

@import 'bootstrap';
@import url(//db.onlinewebfonts.com/c/d2d21cf0ee4c1d969d8a4dccc587ab26?family=Flexo+Medium);
// @import "twitter-bootstrap";
// @import "twitter-bootstrap-responsive"

body {
  background-color: #FAD61D;
  margin: auto;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
}

#landing-page {
  margin: 8rem auto;

#genre-page {
  margin-top: 100px;
}

#decision-page {
  margin-top: 50px;
  animation: stretch 1s ease-out 0.15s alternate 1 none running;
  margin: 2rem auto;
  border-radius: 2rem;
  width: 70%;
  display: flex;
}


#aboutpage {
  width: 80%;
  margin: auto;
  margin-top: 80px;
}

#show-page {
  margin-top: 170px;
}

// Favorite Button
.fav-btn {
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 2px 3px 2px 0px grey;
}

/*
 *
 * Header Component
 *
 */

// nav bar
button.navbar-toggler {
 background: white;
}

#attention-getter {
 font-size: 2rem;
 text-align: center;
 margin-bottom: 2rem;
 line-height: 50px;
 letter-spacing: 1px;
}

// nav bar
nav.bg-light {
 background: black !important;
}
// nav links
nav.navbar-light .navbar-nav .nav-link {
 color: white;
}
// nav links
nav.navbar-light .navbar-brand {
 color: white;
}

// Account button
nav.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
 color: white !important;
}
// Account button
nav.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
 color: white;
}

/*
 *
 * DecisionBox Component
 *
 */

.decision-summary {
  text-align: left;
}

div#decision-page section {
  padding: 0 2rem;
}

main#decision-main {
  margin: 3rem;
}

main#decision-main > p {
  font-size: 2.5rem;
  text-shadow: 1px 1px whitesmoke;
}

/*
 *
 * History and Favorite Index Component
 *
 */

.badge-secondary {
  font-size: 19px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: -36px;
  left: -16px;
  padding: 16px 4px 17px 0;
  box-shadow: 2px 3px 0px 0px whitesmoke;
   /* Old browsers */
  background: rgb(242,130,91);
  /* FF3.6-15 */
  background: -moz-linear-gradient(top,  rgba(242,130,91,1) 0%, rgba(229,91,43,1) 50%, rgba(240,113,70,1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(top,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(to bottom,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 );
}

.badge-percentage {
  font-size: 0.65rem;
  position: absolute;
}

p.poster-image {
  position: relative;
  margin: 10px;
  margin-bottom: 20px;
}

p.film-overview {
  text-align: left;
  padding-left: 11px;
  padding: 0 5px;
}

.collapse-bar{
  float: right;
    background: black;
}

 /*
  *
  * Header Component
  *
  */

// nav bar
button.navbar-toggler {
  background: white;
}

div#index-page {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 78%;
  margin: 50px auto;
}

div#index-page-jumbotron {
  border-radius: 1rem;
  width: 230px;
  margin: 1rem;
  padding: 1rem 0 1rem 0;
  background-color: #ffffff59;
}

.index-header {
  margin: 40px;
  margin-bottom: 20px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: whitesmoke;
  text-align: center;
  text-shadow: 2px 2px 2px #7A7A7A,
               2px 2px 2px rgba(206,89,55,0);
}

 /*
  *
  * WatchButton Component
  *
  */

div#watch-btn button {
  // background: #FAD61D;
  // color: black;
  width: 210px;
  height: 70px;
  font-size: 1.35em;
  margin-top: 1rem;
  border: 1px solid black;
  box-shadow: 2px 3px 2px 0px grey;
  animation-name: stretch;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  // animation: stretch 0.75s ease-out 0 alternate infinite none running;
}

div#watch-btn button:hover {
  background: #E19720;
}

/*
 *
 * GenreButtons Component
 *
 */

.genre-btn {
  min-height: 65px;
  min-width: 135px;
  font-size: 1.1em;
  border: 1px solid black;
  box-shadow: 5px 5px 1px 0px grey;
  // background: rgba($color: #000000, $alpha: 0);
  // border-radius: 30px;
  // color: #007BFF;
}

.genre-btn:hover {
  color: #E19720;
}

.genre-grid {
  width: 590px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, 136px)
}

.functional-btn {
  // background: rgba($color: #000000, $alpha: 0);
  margin: 2px;
}

.functional-btn:hover {
  background: #E19720;
  border: none;
}

[value|="Surprise Me"] {
  margin-right: 25px;
  color: white;
}

[value|="Submit"] {
  margin-left: -10px;
}

.btn-secondary:focus, .btn-secondary.focus {
  background-color: black;
}

div#genre-page {
  margin: 4.5rem auto;
}

div#genre-page h5 {
  max-width: 550px;
  padding: 1rem;
  margin: 20px auto;
  font-size: 1.75em;
  color: dimgray;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 1rem;
}

div#genre-page .pikachu {
  width: 200px;
  animation: nudge 5s linear 1;
}

 /*
  *
  * HistoryIndex Component
  *
  */

 // Film title link to HistoryShow for individual view
ul.decision-box.list-group a {
  color: white;
  text-decoration: none;
}

ul.decision-box.list-group a:hover {
  color: black;
}

p.history {
  color: whitesmoke;
  text-shadow: 0px 0px whitesmoke;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(-1100px, 0);
  }

  // 50% {
  //   transform: translate(1100px, 0);
  // }

  100% {
    transform: translate(0, 0);
  }
}





div.history-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.history-box .decision-box {
  min-height: 350px;
  text-align: left;
  display: block;
}

div.film-info p {
  margin: 0;
}

.film-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 4px;
}
 // Information about the film in div after the film title
.film-info {
  margin-top: 20px;
  margin-bottom: 0;
}

 // About page
#aboutcontent {
  width: 70%;
  margin: 50px auto 70px auto;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

div#aboutpage p {
  line-height: 1.5;
  letter-spacing: 1px;
}

#aboutimgs {
  margin-bottom: 70px;
}

#aboutteamcard {
  display:inline-block;
}

.row {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

#cardcontainer {
  display:inline-block;
}

#card {
  width: 250px;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
}

img.card-img {
  // height: 200px;
  // width: 200px;
  display: inline-block;
}

.linkedin-gihub-btn {
  padding: 10px;
  margin: 10px;
}

.linkedin-gihub-btn a {
  text-decoration: none;
}

div#landing-page img.pikachu {
  cursor: pointer;
  border-radius: 20px;
}

.pikachu {
  width: 300px;
  margin: 20px;
  margin-bottom: -43px;
}

.pikachu2 {
  width: 120px;
}

.pikachu3 {
  width: 120px;
  margin-left: 1rem;
}

//  buttons
.editdel_btns {
  margin: 2px;
  float: left;
}

// .se_btns{
//   margin:2px;
// }

.back_btn{
  margin:100px;
  padding:10px;
}

#addmargin {
  margin: 10px;
}


 /*
  *
  * HistoryShow Component
  *
  */

.comment {
  margin-top: 10px;
  width: 400px;
  height: 100px;
}

.decision-box {
  color: white;
  background:#C57900;
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
  display: inline-block;
  width: 500px;
}

// // 404 page image
.errorimage {
  width: 500px;
  height: auto;
  margin: 10% auto 3% auto;
}

.errorimage img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

//
 /*
  *
  * MEDIA QUERIES
  *
  */

@media (min-width: $breakpoint-tablet) {
  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }
}

@media (max-width: 1024px) {
  nav.bg-light{
    height: 75px;
  }
  .navbar-brand{
    font-size: 28px;
  }
  .nav-item{
    font-size: 22px;
  }
  
  .pikachu {
   width: 50%;
   border-radius:20px;
  }
  
  #landingpage{
  }
  
  #attention-getter {
    padding: 4rem 8rem;
    font-size: 48px;
    font-weight: 700;
  }
  #watch-btn{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (min-width: 576px) {
  div.jumbotron {
    padding: 3rem;
  }
}

@media (max-width: 660px) {
  // About page
  #aboutpage {
    width: 80%;
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  #aboutapp {
    width: 80%;
  }

  #aboutcontent {
    // width: 680px;
    margin: 50px auto 70px auto;
    // padding-bottom: 60px;
  }

  div#aboutpage p {
    line-height: 2;
    letter-spacing: 1.5px;
  }

  #aboutimgs {
    margin-bottom: 70px;
    width: 300px;
    display: inline-block;
  }

  #aboutteamcard {
    display: inline-block;
  }

  #cardcontainer {
    display: inline-block;
  }

  #card {
    width: 200px;
    // position: sticky;
    display: inline-block;
  }

  .card-body {
    padding: 1rem 0 0.25rem 0;
  }

  img.card-img {
    height: 200px;
    width: 200px;
    display: inline-block;
  }

  .linkedin-gihub-btn {
    margin: 4px;
  }
}

.input_box {
  border-radius: 25px;
  border: 2px solid yellowgreen;
  padding: 20px; 
  width: 200px;
  height: 5px;    
  padding-bottom: 10px;
}

.button-success{
// background: rgb(28, 184, 65); /* this is a green */
color: black;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
margin:6px;
}

.signup{
  -webkit-text-stroke: 3px black;
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  color:#c7deed;
  margin-left: 30px;
  margin-top:50px;
  margin-right:30px
}

.signtext{
  -webkit-text-stroke: 1.5px black;
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  color:#c7deed;
  margin-top: 70px;
  text-shadow: 1.5px 1.5px black;
}

.signleft{
  // float: left;
}

.signtextsml{
  // font-family: 'Playfair Display', serif;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  color:black;
}
}